SUBSCRIPTION_URL=""
DASHBOARD_SECRET=changeme
DASHBOARD_LISTEN=127.0.0.1
DASHBOARD_LISTEN_PORT=23333

WAIT_DECRYPT=0
UPDATE_CONFIG=1
SUBSING_ARGS="--skip-existing ./template ./workdir"
CHPST_USER="root:net_admin"
SINGBOX_ARGS="-D ./workdir"
